.biz-hero-content h1 {
  width: 600px;
}
.biz-hero-desc {
  width: 500px;
}
.biz-feature-card {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 20px;
}
/* Business Book Specifications Section */
.biz-specs {
  border-radius: 15px;
  background: linear-gradient(91deg, #f8b381 -0.2%, #fea36b 99.85%);
  /* Shadow 01 */
  box-shadow: 0px 54px 100px 0px rgba(10, 4, 60, 0.08);
}
.biz-spec {
  width: 200px;
}
.biz-spec h1 {
  color: #fff;
}

.biz-spec p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

/* Business book for all kind of pos section styles */
.biz-all-pos h2 {
  width: 530px;
}
.biz-pos-desc {
  width: 600px;
}
.biz-all-pos-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  gap: 20px;
}
.biz-all-pos-card img {
  border-radius: 30px;
}
.pos-card-wrapper {
  margin-top: 70px;
}
.pos-dashbaord-img {
  border-radius: 30px;
  background: linear-gradient(121deg, #e1fafa 0%, #ebf0ff 100%);
  padding: 30px;
  padding-right: 0px;
}
