/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {
  .header-menu .nav-menu {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .header-btn {
    padding: 6px 24px;
  }
  .coming-soon img {
    width: 100%;
  }
  .coming-soon p {
    width: 100%;
  }
}
