/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {
  /* //Common Styles */
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    font-size: 32px !important;
    line-height: 44px !important;
  }
  h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  h5 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  /* Gaps */
  .achievements h2,
  .faqs h2,
  .cta-content h2 {
    margin-bottom: 32px;
  }

  /* Heading width */
  .why-choose-us h2,
  .which-businesse h2,
  .features h2,
  .smart-free-solution h2,
  .smart-income-expense h2,
  .smart-cta h2,
  .biz-hero-content h1,
  .biz-all-pos h2,
  .new-gen-biz-management h2,
  .biz-features h2 {
    width: 100%;
  }

  .header-menu .nav-menu {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .header-btn {
    padding: 6px 24px;
  }
  .coming-soon img {
    width: 100%;
  }
  .coming-soon p {
    width: 100%;
  }

  /* Hero Section Styles */
  .hero-section {
    width: 100%;
    border-radius: 0px 0px 12px 12px;
  }
  .notification {
    margin-bottom: 16px;
  }
  .hero-section h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .hero-content {
    width: 90%;
  }

  .actionBtn {
    width: 90%;
  }
  .google-play {
    height: 40px;
    display: block;
    margin: 0 auto;
  }

  /* Why Choose Us styles */
  .why-choose-details {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  /* Products Setion Styles */
  .products {
    padding: 100px 0px;
  }
  .product {
    padding: 16px;
  }
  .product h4 {
    font-size: 22px;
    line-height: 28px;
  }
  .price img {
    height: 40px;
    width: 40px;
  }
  .specs p {
    font-size: 16px;
    line-height: 24px;
  }

  /* For which business styles */
  .business-owner {
    display: none;
  }
  .which-businesse-details {
    padding: 24px 16px;
  }
  .which-businesse-single {
    border: none;
  }

  /* Mobile apps section styles */
  .apps-titledesc,
  .biz-pos-desc {
    width: 100%;
  }
  .apps-titledesc p {
    font-size: 16px;
    line-height: 24px;
  }
  .app-features {
    padding: 24px 16px;
    margin-top: 44px;
    margin-bottom: 24px;
  }
  .app-feature {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }
  /* Features Section Styles */
  .features h2 {
    margin-bottom: 24px;
  }
  .feature {
    padding: 20px 16px;
  }
  .feature h4,
  .biz-feature h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .feature p {
    font-size: 16px;
    line-height: 24px;
  }

  /* Achievement Section Styles */
  .achievement {
    padding: 12px;
    border-radius: 16px;
    height: 200px;
  }
  .achievement-exeption {
    display: flex;
  }
  .achievement h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .achievement h5 {
    font-size: 20px;
    line-height: 28px;
  }
  .achievement p {
    font-size: 14px;
    line-height: 22px;
  }
  .achievement-desktop {
    display: none;
  }

  /* Clients Testimonials section */
  .testimonials {
    padding: 100px 0px;
  }
  /* Faq section styles */
  .collapse {
    visibility: unset;
  }
  .carousel-desktop {
    display: none;
  }
  .faqs h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .faqs p {
    font-size: 16px;
    line-height: 24px;
  }
  /* Call to Action Section styles */
  .cta-content {
    padding: 80px 16px;
  }
  .cta-content h2 {
    text-align: center;
  }
  .cta-content img {
    display: none;
  }

  /* Why Smart Invoice  */
  .smart-feature-card {
    width: 100% !important;
    padding: 16px;
    gap: 16px;
    border-radius: 16px;
  }
  .why-smart-invoice {
    .desc {
      font-size: 16px;
      line-height: 24px;
    }
  }
  /* Smart Invoice Hero Section */
  .smart-hero-section {
    background-image: url("../images/smart-mobile-bg.svg");
  }
  .smart-hero-content {
    width: 100%;
  }
  .smart-hero-content h1,
  .biz-hero-content h1,
  .biz-spec h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .why-smart-exception-image {
    display: none;
  }

  /* Demo Video Styles */
  .video-container {
    max-width: 100%;
    height: auto;
  }

  /* Smart Invoice Free Solution styles */
  .smart-free-solution-desc {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .smart-free-solution img {
    width: 100%;
    height: auto;
  }
  .smart-solution-specs {
    width: 100%;
  }
  .spec {
    margin-bottom: 16px;
  }
  /* Smart Business Management Section Styles */
  .smart-feature-only-image {
    display: none;
  }
  /* Smart Call to action section styles */
  .smart-cta {
    background-image: url("../images/smart-cta-mobile-bg.svg");
  }

  /* Business Book Hero section Styles */
  .biz-hero-section h1 {
    text-align: center;
  }
  .biz-hero-desc {
    max-width: 300px;
    width: 100%;
  }
  .biz-hero-book-video > img {
    display: none;
  }

  /* Business book features section styles */

  .biz-feature-card {
    padding: 14px;
    gap: 14px;
  }
  .biz-spec {
    width: 100%;
  }

  .biz-spec p {
    font-size: 18px;
    line-height: 26px;
  }

  /* Business book for all kind of pos section styles */
  .biz-all-pos-card {
    gap: 16px;
    padding: 0px;
  }
  .pos-card-wrapper {
    margin-top: 30px;
  }
  .pos-feature-image {
    display: none;
  }
  .pos-categories-mobile {
    display: block;
  }
  .pos-categories-mobile h5 {
    color: #272726;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }

  .trial-btn {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  /* Business Features Section Styles */
  .biz-feature {
    border-radius: 24px;
    padding: 24px 0px 0px 24px;
  }
}
