/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {
  .header-menu .nav-menu {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .header-btn {
    padding: 6px 24px;
  }
  .coming-soon img {
    width: 100%;
  }
  .coming-soon p {
    width: 100%;
  }

  /* Hero Section Styles */
  .hero-section {
    width: 100%;
    border-radius: 0px 0px 12px 12px;
  }
  .notification {
    margin-bottom: 16px;
  }
  .hero-section h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .hero-content {
    width: 90%;
  }

  .actionBtn {
    width: 90%;
  }
  .google-play {
    height: 40px;
    display: block;
    margin: 0 auto;
  }

  /* Why Choose Us styles */
  .why-choose-us h2 {
    width: 100%;
    font-size: 32px;
    line-height: 44px;
  }
  .why-choose-us h5 {
    font-size: 18px;
    line-height: 26px;
  }
  .why-choose-details {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  /* Products Setion Styles */
  .products {
    padding: 100px 0px;
  }
  .products h2 {
    width: 100%;
    font-size: 32px;
    line-height: 44px;
  }
  .product {
    padding: 16px;
  }
  .product h4 {
    font-size: 22px;
    line-height: 28px;
  }
  .price img {
    height: 40px;
    width: 40px;
  }
  .specs p {
    font-size: 16px;
    line-height: 24px;
  }

  /* For which business styles */
  .which-businesse h2 {
    width: 100%;
    font-size: 32px;
    line-height: 44px;
  }

  .business-owner {
    display: none;
  }
  .which-businesse-details {
    padding: 24px 16px;
  }
  .which-businesse-single h5 {
    font-size: 18px;
    line-height: 26px;
  }
  .which-businesse-single {
    border: none;
  }

  /* Mobile apps section styles */
  .apps-titledesc {
    width: 100%;
  }
  .apps-titledesc h2 {
    font-size: 32px;
    line-height: 44px;
  }
  .apps-titledesc p {
    font-size: 16px;
    line-height: 24px;
  }
  .app-features {
    padding: 24px 16px;
    margin-top: 44px;
    margin-bottom: 24px;
  }
  .app-feature {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }
  .app-feature h5 {
    font-size: 18px;
    line-height: 26px;
  }
}
