.why-smart-invoice {
  p {
    color: #272726;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .desc {
    font-size: 18px;
    line-height: 30px;
  }
}
.smart-feature-card {
  display: flex;
  width: 400px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 30px;
  border: 1px solid #e2e2e2;
}

/* Smart Invoice Hero section */
.smart-hero-section {
  background-image: url("../images/smart-bg.svg");
  background-size: cover;
  background-position: center;
}

.smart-hero-content {
  max-width: 576px;
  width: 100%;
}
.hero-notification {
  display: flex;
  padding: 6px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #f3f3f3;
  background: #fff;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
/* Smart Invoice Free Solution styles */
.smart-free-solution h2 {
  width: 540px;
}

.smart-free-solution-desc {
  width: 425px;
  color: #272726;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.smart-free-solution {
  background: linear-gradient(121deg, #e1fafa 0%, #fff0e6 100%);
}
.smart-free-solution img {
  width: 770px;
  height: auto;
}
.smart-solution-specs {
  width: 511px;
}
.spec {
  margin-bottom: 30px;
}
.spec:last-child {
  margin-bottom: 0px;
}
.others-problem,
.smart-solution {
  border-radius: 30px;
  border: 1px solid #f3f3f3;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
}

.others-problem {
  background: linear-gradient(180deg, #fff3dd 0%, #fffcf6 100%);
}
.smart-solution {
  background: linear-gradient(0deg, #fdffff 0%, #dffff9 100%);
}

/* Smart Income Expense Section Styles */
.smart-income-expense h2 {
  margin: 0 auto;
  width: 600px;
}
.income-expense-feature i {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

/* Smart Business Management Section Styles */
.sbm-feature img {
  padding: 30px;
}

/* Smart Call to action section styles */
.smart-cta {
  background-image: url("../images/smart-cta-bg.svg");
  background-size: cover;
  background-position: center;
}
.smart-cta h2 {
  margin: 0 auto;
  width: 670px;
  text-align: center;
}
